<html>
    <head>
        <title>Music Station</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <ul class="sidebar">
            <li>
                <a href="index.html" class="bigger">
                    <img src="img/playlistsIcon.png">
                    Home
                </a>
            </li>
            <li>
                <a href="download.html" class="bigger">
                    <img src="img/DownloadIcon.png">
                    Download
                </a>
            </li>

            <li><hr></li>

            <li>
                <button id="createpl">
                    <img src="img/createIcon.png">
                    New playlist
                </button>
            </li>
            <li>
                <a href="play.html">
                    Songs
                </a>
            </li>
        </ul>

        <div class="content">
            <img class="logo" src="https://rejuvage.com/wp-content/uploads/2017/02/secondary-banner-placeholder.jpg">
        </div>

        <!-- The Modal -->
        <div class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">X</span>
                <p>Create new playlist</p>
                <input id="plname" type="text" placeholder="Playlist name...">
                <button id="createBtn">Create</button>
            </div>

        </div>

    </body>
</html>
<script src="js/main.js"></script>