.music-container {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    margin: 0;
    height: 10%;
    width: 100%;
    padding: 1%;
    background-color: rgb(33, 33, 33);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:center;
}

#title {
    position: absolute;
    left: 2%;
}

.navigation {
    justify-content: center;
    display: flex;
    margin: auto;
}

.action-btn {
    background-color: rgb(33, 33, 33);
    border: 0;
    color: #f1f1f1;
    font-size: 24px;
    cursor: pointer;
    padding: 1%;
    margin: 0 50%;
}

.action-btn-big {
    color: #ffffff;
    font-size: 33px;
}

.action-btn:focus {
    outline: 0;
}

.progress-container {
    position: fixed;
    bottom: 13%;
    left: 0;
    margin: 0;
    padding: 0;
    background: rgb(20, 20, 20);
    cursor: pointer;
    width: 100%;
    height: 2%;
}

.volume-container {
    position: fixed;
    bottom: 6%;
    right: 2%;
    float: right;
    background: rgb(20, 20, 20);
    cursor: pointer;
    width: 20%;
    height: 2%;
    border-radius: 15px;
}

.progress {
    background-color: #2621d5;
    box-shadow: 0 0px 20px 0 #2621d5, 0 0px 20px 0 #2621d5;
    height: 100%;
    width: 0%;
}

.volume {
    background-color: #2621d5;
    box-shadow: 0 0px 20px 0 #2621d5, 0 0px 20px 0 #2621d5;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.songs {
    list-style-type: none;
}

.songs li {
    width: 90%;
    cursor: pointer;
    background-color: #161616;
    padding: 1% 2%;
    outline: #000000;
    transition: outline ease-in-out 0.1s;
}

.songs li:hover {
    outline: #000000 solid;
}

.songs .number {
    display: inline-block;
    margin-right: 10%;
}

.songs .song-title {
    display: inline-block;
}