<ul class="sidebar">
    <li>
        <a href="main.html" class="bigger">
            <img src="../assets/playlistsIcon.png">
            Home
        </a>
    </li>
    <li>
        <a href="download.html" class="bigger">
            <img src="../assets/DownloadIcon.png">
            Download
        </a>
    </li>

    <li><hr></li>

    <li>
        <button id="createpl">
            <img src="../assets/createIcon.png">
            New playlist
        </button>
    </li>
    <li>
        <a href="play.html">
            Songs
        </a>
    </li>
</ul>